.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-facebook-blanco {
  width: 0.5498046875em;
}

.icon-logo-1 {
  width: 2em;
}

.icon-logo-2 {
  width: 2em;
}

.icon-logo-3 {
  width: 2em;
}

.icon-logo-4 {
  width: 2em;
}

.icon-logo-5 {
  width: 2em;
}

.icon-logo-6 {
  width: 2em;
}

.icon-reloj-1 {
  width: 0.974609375em;
}

.icon-sobre-activable {
  width: 1.3330078125em;
}

.icon-telefonio {
  width: 0.625em;
}

.icon-twiter-blanco {
  width: 1.111328125em;
}
